{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h1 class="title nav-right">{{ .Title }}</h1>
    <h2 class="subtitle is-5 nav-right">{{ .Date.Format "January 2, 2006" }}</h2>
    <!-- {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }} -->
    <br/><br/>

    <div class="content">
      {{ .Content }}
    </div>

    <a class="button" href="{{ .Site.BaseURL }}">Back</a>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
</body>
